.top-page{
    background-image: url(../img/yellow.jpg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: none;
}

header{
    background-color: rgba(255,255,255,0.3);
    /* background-image: url(../img/plant.jpg); */
    height: 20px;
    padding: 14px 40px;
    /* display: flex; */
    /* justify-content: left; */
    /* align-items: center; */
}

.nav{
    display: flex;
    justify-content: flex-end;
    font-family: 'Kaushan Script', cursive;
    /* align-items: center; */
    font-size: 20px;
    /* color: tomato;  */
}

.nav > li > a{
    /* display: flex; */
    /* justify-content: left; */
    text-decoration: none;
    margin-left: 40px;
    color:gray
}

.name{    
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 80px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Kaushan Script', cursive;
}

#photo{
    margin-top: 70px;
}

.guideline{
    font-size: 80px;
}

.guideline > li{
    margin: 20px;
}

#concept{
    background-color:rgb(94, 57, 3, 0.2);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Shippori Mincho', serif;
    /* display: flex; */
    padding: 20px;
    margin: 50px;
}

#concept > h2,
#bouquet > h2,
#accessories > h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    margin-left: auto;
    margin-right: auto;
    font-family: 'DM Serif Display', serif;
font-family: 'Kaushan Script', cursive;
}

.contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
    font-size: 25px;
    /* text-align: center; */
}

.contents-scoreimage {
    height: 150px;
    margin: 0px 20px;
}

.discription{
    width: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

  #bouquet{
    /* background-color:  rgba(88, 110, 36, 0.2); */
    background-image: url(../img/sky.jpg);
    background-repeat: none;
    margin: 50px;
    padding: 10px;
    padding-top: 5px;
}

  .bouquet-image {

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 25px;
  }

  .flexitem {
    flex: 0 0 24%;
    font-size: 25px;
    margin-bottom: 20px;
    color:black;
    font-family: 'Andada Pro', serif;
  }
  .flexitem img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
    /* text-align: center; */
  }

#accessories{
    /* background-color:rgb(94, 57, 3, 0.2); */
    background-image: url(../img/pink.jpg);
    margin: 50px;
    padding: 10px;
    padding-top: 5px;
}

.accessories-image {

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 25px;
  }
  
  .flexitem {
    flex: 0 0 24%;
  }
  .flexitem img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
    /* text-align: center; */
  }

.bouquet-font{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.bouquet-item{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    /* text-align: center; */
}

.info{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}

.information{
    text-align: center;
    font-family: 'Shippori Mincho', serif;
    font-size: 20px;
    margin: 30px;
    border:2px rgba(88, 110, 36, 0.2) solid;
    border-width: 40px;
    padding: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:rgba(88, 110, 36, 0.2);
}

.map-font{
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.map{
    text-align: center;
    margin-bottom: 100px;
}